<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 mt-5 mb-5">
      <form [formGroup]="loginForm" (ngSubmit)="loggedIn(loginForm.value)">

        <div class="formInput mt-2 mb-2">
          <label for="">Email</label>
          <input type="email" formControlName="email" id="" class="form-control">
        </div>

        <div class="formInput mt-2 mb-2">
          <label for="">Password</label>
          <input type="password" formControlName="password" id="" class="form-control">
        </div>

        <div class="loginBtn mt-4 d-flex justify-content-between">
          <button class="btn btn-success col-12 col-sm-4">Login</button>
          <p class="col-12 col-sm-6">Don't Have Account? <a routerLink="/signup">Signup Here!</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
