nav {
    background-color: transparent;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // padding: 10px;
    transition: background-color 1.7s ease;
}

.navbar-brand{
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}

.navbar-brand:hover{
    color: rgba(249, 0, 0, 0.764);
    transition: color 1.7s ease;
}

.navbar-nav a{
    color: rgb(0, 0, 0);
 
    margin-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}


.navbar-nav a:hover{
    color: rgb(56, 191, 240);
    font-weight: 500;
}