/* You can add global styles to this file, and also import other style files */
.Layor{
   // background: linear-gradient(to right, #ff0000, #ffff00, #0000ff);
   background: radial-gradient(circle, rgba(46, 0, 213, 0.239), #76ffef, #ffff);
			border-radius: 70%;
			// box-shadow: 0 0 20px #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
